/* Breakpoints */
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

/* Colors */
$lightgray: rgb(107, 121, 132);

$footerColor: #fcfcfd;
$bgColor: #e5e5e5;
$mainColor: #1b75bb;

$introMask: rgba(255, 255, 255, 0.6);

/* Fonts */
$primaryFont: "Gelasio", serif;
$secondaryFont: "Roboto", sans-serif;
$thirdFont: "Poppins", sans-serif;
